.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    border-top: 1px solid; 
    a {
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        a {
            font-size: 0.5rem;
        }
    }
}