.resource-info {
  font-weight: 700;
  border-bottom: 1px solid;
  padding: 1.5rem 1rem 1.5rem 0;
}

.resource-info-title {
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.resource-info-notes {
  padding: 0.5rem 0 0.5rem 0;
  opacity: 0.7;
}

.resource-info-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .resource-info-title {
    font-size: 1.04rem;
  }
  .resource-info-notes {
    font-size: 0.8rem;
  }
  .resource-info-action-label {
    font-size: 0.8rem;
  }
}