@import './variables/colors.scss';

body {
	font-size: 16px;
	font-family: $bundlemFont;
}

.centeredContent {
	text-align: center;
}

.bundlemLogo { 
	text-align: center;
	font-size: 7rem;
	font-family: $bundlemFont;
	font-weight: 700;
	color: $bundlemColor;
	padding: 1rem;
}

.lightSeparation {
	margin: 3rem
}

#header div.bundlemHeader h1 {
	font-family: $bundlemFont;
	font-weight: 700;
	font-size: 2rem;
	color: $bundlemColor;
	cursor: pointer;
}

.bundleIdHeader {
	font-family: $bundlemFont;
	font-weight: 700;
	font-size: 2rem;
	color: $bundlemColor;
}

.bundleName {
	font-family: $bundlemFont;
	font-weight: 700;
	font-size: 2.5rem;
	color: $bundlemColor;
}

.bundleId {
	font-family: $bundlemFont;
	font-weight: 700;
	font-size: 7rem;
	color: $bundlemColor;
}

.searchBundleTitle {
	color: $bundlemColor;
	font-size: 3.5rem;
	font-weight: 700;
}

.largeMarginTop {
	margin-top: 10rem;
}

.tagline {
	font-size: 2.5rem;
	color: $bundlemColor;
}

.description { 
	padding:  1.5rem;
	color: $darkGrey;
}

.bundleDescription {
	color: $darkGrey;
}

.flexCenter {
	display: flex;
	justify-content: center;
}

.inputLabels {
	color: $bundlemColor;
	font-size: 2rem;
}

.createTitle {
	color: $bundlemColor;
	font-size: 2.5rem;
	font-weight: 700;
}

.floatRight {
	float: right;
}

.verticalMiddle {
	vertical-align: middle
}

.inputErrors {
	padding-left: 1rem;
	color: $lightRed;
}

.textColorGrey {
	color: $lightGrey;
}

.textColorLightBlack {
	color: $lightBlack;
}

//Credits: https://github.com/react-icons/react-icons/issues/52#issuecomment-343990710

.iconSpin {
  -webkit-animation: iconSpin 2s infinite linear;
          animation: iconSpin 2s infinite linear;
}

@-webkit-keyframes iconSpin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes iconSpin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}