.button {
    min-width: 7.5rem;
    padding: 0.4rem;
    border: 3px solid;
    border-radius: 3px;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        font-weight: initial;
        opacity: 0.95;
    }
}

.button-block {
    width: 100%
}

@media only screen and (max-width: 767px) {
    .button {
        min-width: 6.5rem;
        padding: 0.3rem;
        font-size: 0.75rem;
    }
}