.bundle-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.9rem;
}

.bundle-card-title {
    padding: 1.2rem 1rem 1.2rem 1rem;
    word-break: break-all;
}

.bundle-card-actions {
    display: flex;
    padding: 0.7rem 0 0.7rem 0;
    justify-content: space-around;
    border-top: 1px solid;
    text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
    .bundle-card {
        width: 15rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 767px) {
    .bundle-card {
        width: 100%;
    }
}