.welcome {
    margin-bottom: 2rem;
}

.welcome-logo {
    margin-top: 3rem;
    padding: 1rem 0 1rem 0;
    font-size: 3rem;
    font-weight: 700;
}
.welcome-headline {
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1.3rem;
    font-weight: 700;
}
.welcome-description {
    opacity: 0.7;
    font-size: 0.9rem;
    font-weight: 700;
}
.welcome-buttons {
    padding: 1.3rem 0 1.3rem 0;
}
.welcome-create-button {
    margin-right: 1rem;
}
.welcome-featured-bundles {
    padding: 0.9rem 0 0.9rem 0;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

@media only screen and (max-width: 767px) {
    .welcome-featured-bundles-lg {
        display: none;
    }
    .welcome-featured-bundles-sm {
        .ant-row {
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .welcome-featured-bundles-sm {
        display: none;
    }
}